<section class="detalhe">
    @if(carregando()){
        <p>Carregando...</p>
    }
    @else {
        @if (!produto()) {
            <p>Produto não encontrado!</p>
            <button (click)="voltar()">Voltar</button>
        }
        @else {
            <article class="detalhe-card">
                <img src="thumb" [src]="produto()?.imageUrl">
                <div class="infos">
                    <h2>{{ produto()?.nome }}</h2>
                    <p class="descricao" {{produto()!.descricao}}></p>
                    @if (produto()!.promo) {
                        {{ produto()!.preco | desconto:10 | currency:'BRL' : 'symbol' : '1.2.2'}}
                    }
                    @else{
                        {{ produto()!.preco | currency:'BRL' : 'symbol' : '1.2.2'}}
                    }

                    <div class="acoes">
                        <button (click)="voltar()">Voltar</button>
                        <!-- Aqui vai ter um botão comprar em breve -->
                    </div>
                </div>
            </article>
        }
    }
</section>